page-auth {
    /* Component styles go here */
    ion-row{
        height: 100%;
        text-align: center;
        align-items: center;
    }
    ion-grid{
        height: 100%;
        padding: 0;
    }
}
